/* Order */
@layer tailwind-base, primevue, reset, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

:root {
  --color-primary: #4caf50;
  --color-secondary: #2196f3;
  --color-success: #8bc34a;
  --color-info: #8a2be2;
  --color-accent: #ff5722;
  --kt-white: #fefefe;
  --kt-black: #191919;
  --bg-login: #f5f5f5;
}

.bg-login {
  background-color: var(--bg-login);
}

.card {
  background-color: var(--kt-white);
}

.btn-primary {
  background-color: var(--color-primary);
  color: white;
  border: none;
  text-align: center;
  padding: 0.75rem 1.5rem;
  border-radius: 9999px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-secondary {
  background-color: var(--color-secondary);
  color: white;
  border: none;
  text-align: center;
  padding: 0.75rem 1.5rem;
  border-radius: 9999px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-secondary:hover {
  border: 1px solid var(--color-secondary);
}

.btn-primary:hover {
  border: 1px solid var(--color-primary);
}

.btn-secondary:hover,
.btn-primary:hover {
  color: var(--kt-black);
  background-color: transparent;
}

.text-red-500 {
  color: #f56565;
}
